.base-page {
	padding-bottom: 200px;
}

body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	background-color: #c5c2b336;
}
.bakcground {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-image: url("../public/grunge-a094ace9bf.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.2;
	z-index: -1 !important;
}
a:hover {
	text-decoration: none;
	color: black;
}

body.modal-open {
	overflow: auto;
}
body.modal-open[style] {
	padding-right: 0px !important;
}
.dropdown-item.active,
.dropdown-item:active {
	background-color: #545b62 !important;
	color: white !important;
}
.pure-menu {
	background-color: #fcfbf7bd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu-link {
	padding: .5em .7em;
}

.pure-menu-item {
	text-align: left;
}
.pure-menu-list {
	float: right;
}
.banner {
	background: transparent url('../public/cover.jpg') top no-repeat fixed;
	height: 450px;
	background-size: cover;
	width: 100%;
	margin-bottom: 1em;
	display: table;
}

.footer {
	background: #111;
	color: #888;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer a {
	color: #ddd;
}
.footer p {
	margin: 0;
}
.dropleft a,
.dropdown-item {
	width: auto !important;
}
@media screen and (max-width: 1405px) {
	.banner {
		background: transparent url('../public/cover.jpg') no-repeat fixed;
		background-size: cover;
	}
}
/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media screen and (max-width: 767px) {
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media screen and (max-width: 480px) {
}
